@font-face{
	font-family: "Futura Md BT Medium";
	src:url('font/Futura Md BT Medium.TTF');
}
body{
	margin:0;
	font-family:"Futura Md BT Medium";
	background-image: url(image/background/549935.jpg);
}

a{
	text-decoration:none; 
}

.container{
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.top-wrapper{
	padding: 50px 0px 100px 0px;
	opacity: 0.8;
	color: mintcream;
	text-align: center;
}

/* tambahan css untuk top wrapper pada tag <h1> */
.top-wrapper h1{
	opacity: 0.8;
	letter-spacing: 5px;
	margin-bottom: 10px;
	line-height: 1.6;
}

/* tambahan css untuk top-wrapper pada tag <p>	*/
.top-wrapper p{
	opacity: 0.9;
	margin-right: 20%;
	margin-left: 20%;
	margin-bottom: 3px;
	text-align: center;
	font-weight: bold;
}

/*tambahan css untuk twitter*/

/* tambahan untuk button btn wrapper */
.btn-wrapper{
	margin-top: 20px;
	margin-bottom: 20px;
}

/* tambahan untuk button btn wrapper untuk tag p */
.btn-wrapper p{
	margin-top: 10px;
	margin-bottom: 10px;
}
/*CSS dalam Header */
/* menambahkan vss untuk tag header*/
header{
	height: 65px;
	width: 100%;
	background-color: rgb(160, 82, 45);
}
/*tambahan gambar untuk logo */
.logo{
	width: 124px;
	padding:20px 40px 20px 40px;
	margin-left: 0px;
	float: left;
}

li{
	list-style: none;
	float: left;
	padding:25px 35px 25px 35px;
}

.header-right{
	float: right;
	background-color: rgba(255, 255, 255, 0.3);
}

.header-right:hover{
	background-color: rgba(255, 255, 255, 0.5);
}

.header-right a{
	line-height: 65px;
	padding: 0px 25px;
	color :white;
	display: block;
	transition: all 0.5s;
}


/*CSS dalam top*/
.iklan{
	width: 80%;
}
.line{
	margin-bottom: 0px;
	margin-top: 100px;
	border-bottom: 5px solid #fff; 
}

.header-center{
	background-color: rgba(255, 255, 255, 0.3);
}

.header-center:hover{
	background-color: rgba(255, 255, 255, 0.5);
}
.header-center a{
	padding: 0px 15px;
	color :white;
	display: block;
	transition: all 0.9s;
}



.lessons-wrapper {
  height: 500px;
  padding-bottom: 80px;
  text-align:center;
  color: white;
}

.lesson {
  float: left;
  width: 25%;
  padding: 4%;
}

.lesson-icon{
  position: relative;
}

.lesson-icon p{
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
}


.txt-contents{
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #b3aeb5;
}

.lesson-icon img{
 width: 300px;
 height: 300px;
 border-radius: 5%;
}

/*css layout massage */
.massage-wrapper {
	text-align: center;
	color: #fff;
	margin-bottom: 50px;
}
.massage-wrapper h2{
	font-size: 50px;
}
.massage-wrapper h3{
	font-size: 40px;
}
.button {
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/*css footer*/
footer{
	height: 100%;
	width: 100%;
	background-color: rgb(160, 82, 45); 
	padding-top: 20px;
	float: left;
}
footer .container{
	text-align: center;
}
.container .ikon-roti{
	margin-top: 50px;
	width: 250px;
}
.container p {
	font-size: 30px;
	color: white;
}
.down-section {
    display: flex;
    justify-content: space-between;
    padding: 3% 0px;
    margin: 5px auto;
    width: 80%;
    flex-wrap: wrap;
}

.social-icon a {
    width: 35px;
    height: 35px;
    margin: 0px 5px;
    background-color: #424356;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.5s;
}
.social-icon {
    display: flex;
}

.social-icon i {
    color: #FFFFFF;
    font-size: 14px;
}

.cari input {
    height: 35px;
    width: 200px;
    text-align: center;
    border: none;
    outline: none;
}

.copyright {
    font-family: calibri;
    font-size: 15px;
    color: #b3b3b3;
    text-align: center;
}

.up-section ul li a:hover, .down-section ul li a:hover {
    color: #9697a0;
}

.social-icon a:hover {
    background-color: #9a9ff6;
}

.social-icon a:hover i {
    color: #424356;
}
  
.social-icon a {
    display: block;
    text-align: center;
    padding: 2px 12px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

